#home-content{
    padding: 5vh 0;
}

#home-content-header{
    color: white;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

#home-content-banner{
    width: 95%;
    height: 70vh;
    margin: 0 auto;
}

#home-content-banner-row1{
    width: 100%;
    height: 70vh;
    border: 5px solid white;
}

#home-content-banner-row2{
    width: 100%;
    height: 50vh;
    display: flex;
}

#home-content-banner-row2 img{
    width: 50%;
    height: 50vh;
    border: 5px solid white;
}

@media (max-width: 374.98px){
    #home-content{
        padding: 2vh 0;
    }
    #home-content-header{
        font-size: 80%;
    }
    #home-content-banner{
        display: none;
    }
}

@media (min-width: 375px) and (max-width: 576.98px){
    #home-content-header{
        font-size: 100%;
    }
    #home-content{
        padding: 3vh 0;
    }
    #home-content-banner{
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    #home-content-header{
        font-size: 100%;
    }
    #home-content{
        padding: 4vh 0;
    }
    #home-content-banner{
        height: 50vh;
        margin: 4vh auto;
    }
    #home-content-banner-row1{
        height: 30vh;
    }
    #home-content-banner-row2{
        height: 20vh;
    }
    #home-content-banner-row2 img{
        height: 20vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #home-content-header{
        font-size: 150%;
    }
    #home-content{
        padding: 4vh 0;
    }
    #home-content-banner{
        height: 60vh;
        margin: 5vh auto;
    }
    #home-content-banner-row1{
        height: 40vh;
    }
    #home-content-banner-row2{
        height: 20vh;
    }
    #home-content-banner-row2 img{
        height: 20vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #home-content-header{
        font-size: 200%;
        padding: 4vh 0;
    }
    #home-content-banner{
        height: 80vh;
        margin: 5vh auto;
    }
    #home-content-banner-row1{
        height: 50vh;
    }
    #home-content-banner-row2{
        height: 30vh;
    }
    #home-content-banner-row2 img{
        height: 30vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home-content-banner{
        height: 120vh;
        margin: 7vh auto;
    }
    
    #home-content-banner-row1{
        height: 70vh;
    }
    #home-content-banner-row2{
        height: 50vh;
    }
    #home-content-banner-row2 img{
        height: 50vh;
    }
}