/* .bg {
    background-color: rgba(128, 128, 128, 0.753);
    bottom: 0;
    left: 0;
    right: 0;

}
@media (max-width: 998px) {
    .col-lg-5 {

        width: 50%;
      }
    .col-lg-4 {
        width: 50%;
      }
      .col-lg-3 {
        width: 50%;
      }
    }
 */

 .footer{
  background: #2B2B2B;
  color:white;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}