#head{
  padding: 40px;
}
.masthead {
    background-color: #2B2B2B;
    background-size: 30px;
    /* background-image: url('7.jpg'); */
}
.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.img-fluid {
    width: 70%;
    height: 70%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
  .masthead h1, .masthead .h1 {
    font-size: 2rem;
  }
  .section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #000;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
*, ::after, ::before {
    box-sizing: border-box;
}
.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #696969;
    bottom: 0;
    left: calc(50% - 20px);
}
*, ::after, ::before {
    box-sizing: border-box;
}




  @media (min-width: 768px) {
    .masthead {
      padding-top: 6rem;
      padding-bottom: 5rem;
    }
    .masthead h1, .masthead .h1 {
      font-size: 3rem;
    }
  }

  .testimonials .testimonial-item {
    max-width: 18rem;
  }
  .testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }



  .showcase .showcase-text {
    padding: 3rem;
  }
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }

  
    @media (min-width: 768px) {
        .col-md-12 {
            flex: 0 0 auto;
            width: 100%;
    }
}

@media (min-width: 992px) {
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.1rem; 
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 0.5rem;
}

.card_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

