/* img { */
  /* width: 200px;
  height: 200px; */
  /* height: auto;
  max-width: 70%;
  vertical-align: middle;
} */

.img-wrap {
  max-height: 60%;
  max-width: 60%;
  vertical-align: middle;
}
.container {
  margin-top: 70px;
}

.navi {
  display: flex;
  justify-content: end;
}

.card {
  text-align: center;
}

.product-grid{
  margin-bottom: 20px;
}

.card-product-grid{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-product-grid:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
    transform: scale(1.03) translateZ(0);
  transition: all 0.3s ease-in-out;
  background-color: #DCE9FF;
}

.product-title{
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

/* .card:hover {
  background-color: gray;
  transition: 0.4s;
} */